@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Martel&display=swap');

body {
  margin: 0;
  font-family: 'Martel','DM Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #B8B8B8;
}